.venv/
venv/
env/
ENV/
.conda/
/miniconda3/
/anaconda3/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

*.mp3
*.wav
*.ogg

/outputs/
/output/
/audio/

/tmp/
flagged/

.vscode/
.idea/
*.swp
*.bak

*.log
pip-log.txt
Thumbs.db
Desktop.ini

saved\ voices/
saved_voices